In [28]:
# Importing libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [16]:
fileName = 'Africa Food Production.csv'
filePath = 'C:/Users/Mr. Chidi/Desktop/Freelance' #change all backwards slashes to a forward slash in the filepath

fullFilePath = 'C:/Users/Mr. Chidi/Desktop/Freelance/Africa Food Production.csv'

In [17]:
dataFile = pd.read_csv(filePath + '/' +fileName)

In [18]:
dataFile = pd.read_csv(fullFilePath)

In [19]:
dataFile

        Country                Item  Year  Value
0       Algeria  Wheat and products  2004   2731
1       Algeria  Wheat and products  2005   2415
2       Algeria  Wheat and products  2006   2688
3       Algeria  Wheat and products  2007   2319
4       Algeria  Wheat and products  2008   1111
...         ...                 ...   ...    ...
23105  Zimbabwe         Crustaceans  2009      0
23106  Zimbabwe         Crustaceans  2010      0
23107  Zimbabwe         Crustaceans  2011      0
23108  Zimbabwe         Crustaceans  2012      0
23109  Zimbabwe         Crustaceans  2013      0

[23110 rows x 4 columns]

In [21]:
# Extracting oats data for the year 2010
oat_2010 = dataFile.query("Item == 'Oats' and Year == '2010'")
oat_2010

Empty DataFrame
Columns: [Country, Item, Year, Value]
Index: []

In [26]:
dataFile.dtypes

Country    object
Item       object
Year        int64
Value       int64
dtype: object

In [29]:
<matplotlib.axes._subplots.AxesSubplot at 0x1d15f899240>

SyntaxError: invalid syntax (3677093891.py, line 1)

In [ ]:
sns.boxplot(x = 'fuel_type_code_pudl', y = 'report_year', data = dataFile)